<script src="/js/jquery.min.js"></script>
    <link href="http://www.binarytheme.com/BTlivedemos/2014/08/29/horizontal-admin/assets/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<br>
<style>
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: rgb(255, 255, 255) !important;
}
</style>
<div class='container'>

<div class="panel-body">
                            <div class="table-responsive">
                               <table id="tabexapi" class="table table-striped table-bordered" style="background:white; color: black !important" >
    <thead>
<tr>
    {{!-- <th>Id </th> --}}
    <th>Author</th>
    <th>Categories</th>
    <th>Content</th>
    <th>itle</th>
    
    
    
</tr>
    </thead>
    
</table>
                            </div>
                        </div>

</div>
<script src="/js/apidatatable.js"></script>